.container {
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;

	@media (min-width: 320px) {
		width: 320px;
	}

	@media (min-width: 768px) {
		width: 768px;
		padding: 0 40px;
	}

	@media (min-width: 1280px) {
		width: 984px;
		padding: 0 111px;
	}
}
