@import '../../stylesheet/shared.scss';

.title {
	font-family: $font-family-gilroy;
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	padding: 116px 0 53px;
	text-align: center;
	width: 984px;
}

.gold {
	color: #ffdd00;
}
